In [1]:
import pandas as pd
import numpy as np

In [3]:
# 12.1.1 设置文件导出路径
# 利用df.to_excel()方法导出表格
df = pd.DataFrame([['59224','A类','一线城市','是',6,20,0],
                    ['55295','B类','三线城市','否',37,27,35],
                    ['46035','A类','二线城市','是',8,1,8],
                    ['2459','C类','一线城市','是',7,8,14],
                    ['22179','B类','三线城市','否',9,12,4],
                    ['22557','A类','二线城市','是',42,20,55]],
                  columns = ('用户ID','客户分类','区域','是否省会','7月销量','8月销量','9月销量'))
df

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35
2  46035   A类  二线城市    是     8     1     8
3   2459   C类  一线城市    是     7     8    14
4  22179   B类  三线城市    否     9    12     4
5  22557   A类  二线城市    是    42    20    55

In [24]:
# 真的有哎，成功了
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx")

In [25]:
# 12.1.2 设置Sheet名称
# 修改sheet_name参数可修改sheet名字
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",sheet_name='测试文档')

In [26]:
# 12.1.3 设置索引
# 设置参数index=False可以在导出时把默认索引去掉
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",sheet_name='测试文档',index=False)

In [27]:
# 12.1.4 设置要导出的列
# columns()和columns[]经测试都行
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",sheet_name='测试文档',index=False,
           columns=['用户ID','7月销量','8月销量','9月销量'])

In [28]:
# 12.1.5 设置编码格式
# 设置参数encoding=utf-8
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",sheet_name='测试文档',index=False,encoding='utf-8')

In [29]:
# 12.1.6 缺失值处理
# 设置参数na_rep的值对缺失值进行填充
# 缺失值填充为0
df.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",
            sheet_name='测试文档',index=False,encoding='utf-8',na_rep=0)

In [13]:
# 12.1.7 无穷值处理
# 无穷值（inf)和缺失值（Nan)都是异常数据，无穷值的存在会导致计算报错，故需要预处理
# 生成正无穷值和负无穷值
float('inf')

inf

In [14]:
float('-inf')

-inf

In [22]:
# 把inf值替换掉，设置参数inf_rep的值
df1 = pd.DataFrame([['59224','A类','一线城市','是',6,20,0],
                    ['55295','B类','三线城市','否',float('inf'),27,35],
                    ['46035','A类','二线城市','是',8,1,8],
                    ['2459','C类','一线城市','是',7,8,14],
                    ['22179','B类','三线城市','否',9,12,4],
                    ['22557','A类','二线城市','是',42,20,55]],
                  columns = ('用户ID','客户分类','区域','是否省会','7月销量','8月销量','9月销量'))
df1

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是   6.0    20     0
1  55295   B类  三线城市    否   inf    27    35
2  46035   A类  二线城市    是   8.0     1     8
3   2459   C类  一线城市    是   7.0     8    14
4  22179   B类  三线城市    否   9.0    12     4
5  22557   A类  二线城市    是  42.0    20    55

In [23]:
# 把inf_rep的值填充为0
df1.to_excel(excel_writer=r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test.xlsx",
            sheet_name='测试文档2',index=False,encoding='utf-8',na_rep=0,inf_rep=0)