In [1]:
import pandas as pd
import numpy as np

In [2]:
# 12.3 将文件导出到多个Sheet
# 利用ExcelWriter()函数将多个文件分别导出到不同Sheet中

In [15]:
# 声明一个读写对象
# excelpath为文件要存放的路径
writer=pd.ExcelWriter(r"/Users/caiqing/Documents/我的PYTHON/张俊红《对比Excel,轻松学习Python数据分析》/第12章 结果导出路径/test2.xlsx",engine='xlsxwriter')

In [10]:
# 分别将表df1,df2,df3写入excel中的Sheet1,Sheet2,Sheet3
# 并命名为表1，表2，表3
df1 = pd.DataFrame([['59224','A类','一线城市','是',6,20,0],
                    ['55295','B类','三线城市','否',37,27,35],
                    ['46035','A类','二线城市','是',8,1,8],
                    ['2459','C类','一线城市','是',7,8,14],
                    ['22179','B类','三线城市','否',9,12,4],
                    ['22557','A类','二线城市','是',42,20,55]],
                  columns = ('用户ID','客户分类','区域','是否省会','7月销量','8月销量','9月销量'))
df1

    用户ID 客户分类    区域 是否省会  7月销量  8月销量  9月销量
0  59224   A类  一线城市    是     6    20     0
1  55295   B类  三线城市    否    37    27    35
2  46035   A类  二线城市    是     8     1     8
3   2459   C类  一线城市    是     7     8    14
4  22179   B类  三线城市    否     9    12     4
5  22557   A类  二线城市    是    42    20    55

In [11]:
df2=pd.DataFrame([['许丹','一班'],['李旭文','一班'],['程成','一班'],['赵涛','一班']],columns=('姓名','班级'),index=(1,2,3,4))
df2

    姓名  班级
1   许丹  一班
2  李旭文  一班
3   程成  一班
4   赵涛  一班

In [12]:
df3=pd.DataFrame([['赵义','二班'],['李鹏','二班'],['卫来','二班'],['葛顺','二班']],columns=('姓名','班级'),index=(1,2,3,4))
df3

   姓名  班级
1  赵义  二班
2  李鹏  二班
3  卫来  二班
4  葛顺  二班

In [16]:
df1.to_excel(writer,sheet_name='表1')
df2.to_excel(writer,sheet_name='表2')
df3.to_excel(writer,sheet_name='表3')

In [17]:
# 保存读写的内容
writer.save()