In [1]:
#导入库
import pandas as pd
import numpy as np

In [3]:
# 3.3.2 创建一个DataFrame
# 传入一个列表
df1 = pd.DataFrame (['a','b','c','d'])
df1

   0
0  a
1  b
2  c
3  d

In [6]:
# 传入一个嵌套列表
df2 = pd.DataFrame ([['a','A'],['b','B'],['c','C'],['d','D']])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

In [7]:
# 传入一个嵌套元组
df2 = pd.DataFrame ([('a','A'),('b','B'),('c','C'),('d','D')])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

In [8]:
# 制定行、列索引
#设置列索引
df31 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']], columns = ['小写','大写'])
df31

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [10]:
# 设置行索引
df32 = pd.DataFrame ([['a','A'],['b','B'],['c','C'],['d','D']], index = ['一','二','三','四'])
df32

   0  1
一  a  A
二  b  B
三  c  C
四  d  D

In [26]:
# 行、列索引同时设置
df33 = pd.DataFrame ([['a','A'],['b','B'],['c','C'],['d','D']],columns = ['小写','大写'], index=['一','二','三','四'])
df33

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [11]:
# 传入一个字典
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [12]:
# 设置自定义索引#
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df42 = pd.DataFrame(data,index = ['一','二','三','四'])
df42

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [16]:
# 3.2.3 获取DataFrame的行、列索引
#利用columns方法获取DataFrame的列索引
df2.columns

RangeIndex(start=0, stop=2, step=1)

In [27]:
df33.columns

Index(['小写', '大写'], dtype='object')

In [22]:
# 纯属巧合
df42.columns

Index(['小写', '大写'], dtype='object')

In [18]:
#利用index 方法获取DataFrame的行索引
df2.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
df33.index

Index(['一', '二', '三', '四'], dtype='object')

In [24]:
# 纯属巧合
df42.index

Index(['一', '二', '三', '四'], dtype='object')