In [1]:
import pandas as pd

In [2]:
# 4.2 新建数据
df = pd.DataFrame([['A1','54','男','2018/8/8'],['A2','16','女','2018/8/9'],['A3','47','女','2018/8/10'],['A4','41','男','2018/11'],['A3','47','女','2018/8/10'],['A1','54','男','2018/8/8'],['A4','41','男','2018/11'],['A2','16','女','2018/8/9']],columns = ['编号','年龄','性别','注册时间'])
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男    2018/11
4  A3  47  女  2018/8/10
5  A1  54  男   2018/8/8
6  A4  41  男    2018/11
7  A2  16  女   2018/8/9