In [2]:
import pandas as pd
import numpy as np

In [4]:
# 5.4.1 数据类型
df = pd.DataFrame ([['int','整数'],
                  ['float','浮点数'],
                  ['object','python对象类型，用O表示'],
                  ['string_','字符串类型，用S表示，S10表示长度为10的字符串'],
                  ['unicode_','固定长度的unicode类型，跟字符串的定义方式一样'],
                  ['datetime64[ns]','表示时间格式']],
                columns = ['类型','说明'])
df

               类型                          说明
0             int                          整数
1           float                         浮点数
2          object             python对象类型，用O表示
3         string_   字符串类型，用S表示，S10表示长度为10的字符串
4        unicode_  固定长度的unicode类型，跟字符串的定义方式一样
5  datetime64[ns]                      表示时间格式

In [5]:
# 用dtype方法获取一列数据类型
df1 = pd.DataFrame ([['A1','张通',101,'2018-08-08'],
                   ['A2','李谷',102,'2018-08-09'],
                   ['A3','孙凤',103,'2018-08-10'],
                   ['A3','孙凤',103,'2018-08-10'],
                   ['A4','赵恒',104,'2018-08-11'],
                   ['A5','赵恒',104,'2018-08-12']],
                  columns = ('订单编号','客户姓名','唯一识别码','成交时间'))
df1

  订单编号 客户姓名  唯一识别码        成交时间
0   A1   张通    101  2018-08-08
1   A2   李谷    102  2018-08-09
2   A3   孙凤    103  2018-08-10
3   A3   孙凤    103  2018-08-10
4   A4   赵恒    104  2018-08-11
5   A5   赵恒    104  2018-08-12

In [6]:
# 查看订单编号这一列的数据类型
df1['订单编号'].dtype

dtype('O')

In [7]:
# 查看唯一识别码这一列的数据类型
df1['唯一识别码'].dtype

dtype('int64')

In [8]:
# 5.4.2 类型转换
# 利用astype()方法对数据类型进行转换，括号里面指明转换的目标类型即可
df1

  订单编号 客户姓名  唯一识别码        成交时间
0   A1   张通    101  2018-08-08
1   A2   李谷    102  2018-08-09
2   A3   孙凤    103  2018-08-10
3   A3   孙凤    103  2018-08-10
4   A4   赵恒    104  2018-08-11
5   A5   赵恒    104  2018-08-12

In [11]:
df1['唯一识别码'].dtype

dtype('int64')

In [12]:
# 将唯一识别码从Int类型转换为float类型
df1['唯一识别码'].astype('float64')

0    101.0
1    102.0
2    103.0
3    103.0
4    104.0
5    104.0
Name: 唯一识别码, dtype: float64