In [1]:
import pandas as pd
import numpy as np

In [6]:
# 6.2.1 选择某一行/某几行
df = pd.DataFrame ([['A1','张通',101,'2018-08-08'],
                   ['A2','李谷',102,'2018-08-09'],
                   ['A3','孙凤',103,'2018-08-10'],
                   ['A4','赵恒',104,'2018-08-11'],
                   ['A5','赵恒',104,'2018-08-12']],
                  columns = ('订单编号','客户姓名','唯一识别码','成交时间'),
                  index = ('一','二','三','四','五'))
df

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09
三   A3   孙凤    103  2018-08-10
四   A4   赵恒    104  2018-08-11
五   A5   赵恒    104  2018-08-12

In [7]:
# 利用loc 方法
# 选择一行
df.loc['一']

订单编号             A1
客户姓名             张通
唯一识别码           101
成交时间     2018-08-08
Name: 一, dtype: object

In [9]:
# 利用loc 方法
# 选择第一行和第二行
df.loc[['一','二']]

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09

In [10]:
# 利用loc 方法
# 选择第二行和第一行
df.loc[['二','一']]

  订单编号 客户姓名  唯一识别码        成交时间
二   A2   李谷    102  2018-08-09
一   A1   张通    101  2018-08-08

In [11]:
# 利用iloc 方法选择行
df

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09
三   A3   孙凤    103  2018-08-10
四   A4   赵恒    104  2018-08-11
五   A5   赵恒    104  2018-08-12

In [12]:
# 利用iloc 方法选择行
# 选择第一行
df.iloc[0]

订单编号             A1
客户姓名             张通
唯一识别码           101
成交时间     2018-08-08
Name: 一, dtype: object

In [13]:
# 利用iloc 方法选择行
# 选择第一行和第二行
df.iloc[[0,1]]

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09

In [14]:
# 6.2.2 选择连续的某几行
# 只要把连续行的位置用一个区间表示，然后传给iloc即可
df

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09
三   A3   孙凤    103  2018-08-10
四   A4   赵恒    104  2018-08-11
五   A5   赵恒    104  2018-08-12

In [15]:
# 选择第一行到第三行
df.iloc[0:3]

  订单编号 客户姓名  唯一识别码        成交时间
一   A1   张通    101  2018-08-08
二   A2   李谷    102  2018-08-09
三   A3   孙凤    103  2018-08-10

In [22]:
# 6.2.3 选择满足条件的行
df1 = pd.DataFrame ([['A1','张通',101,31,'2018-08-08'],
                   ['A2','李谷',102,45,'2018-08-09'],
                   ['A3','孙凤',103,23,'2018-08-10'],
                   ['A4','赵恒',104,240,'2018-08-11'],
                   ['A5','赵恒',104,240,'2018-08-12']],
                  columns = ('订单编号','客户姓名','唯一识别码','年龄','成交时间'))
df1

  订单编号 客户姓名  唯一识别码   年龄        成交时间
0   A1   张通    101   31  2018-08-08
1   A2   李谷    102   45  2018-08-09
2   A3   孙凤    103   23  2018-08-10
3   A4   赵恒    104  240  2018-08-11
4   A5   赵恒    104  240  2018-08-12

In [23]:
# 选择年龄小于200的数据,年龄字段不能用单引号
df1[df1["年龄"] < 200]

  订单编号 客户姓名  唯一识别码  年龄        成交时间
0   A1   张通    101  31  2018-08-08
1   A2   李谷    102  45  2018-08-09
2   A3   孙凤    103  23  2018-08-10

In [26]:
# 选择年龄小于200且唯一识别码小于102的数据
df1[(df1["年龄"]<200) & (df1["唯一识别码"]<102)]

  订单编号 客户姓名  唯一识别码  年龄        成交时间
0   A1   张通    101  31  2018-08-08