In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 7.11 索引重塑就是将原来的索引进行重新构造
# 把数据从表格型数据转换到树形数据的过程叫重塑
# 这种操作在excel中没有
# 在python中用到的方法是stack()

In [4]:
# 表格型索引
# S1-C1唯一值为1，S2-C3唯一值为6
df = pd.DataFrame([[1,2,3],[4,5,6]], columns = ['C1','C2','C3'],index = ['S1','S2'])
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [5]:
# maybe 这个是树形结构，给整个表格型数据建立层次化索引
df.T

    S1  S2
C1   1   4
C2   2   5
C3   3   6

In [6]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [7]:
# 利用stack()方法将表格型数据转换到树形数据
df.stack()

S1  C1    1
    C2    2
    C3    3
S2  C1    4
    C2    5
    C3    6
dtype: int64

In [8]:
# 利用unstack()方法将表格型数据转换到树形数据
df.stack().unstack()

    C1  C2  C3
S1   1   2   3
S2   4   5   6