In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 7.5 数值计数就是计算某个值在一系列数值中出现的次数
# excel 中数值计数利用COUNTIF()函数，计算某个区域中满足给定条件的单元格数目

In [ ]:
# =COUNTIF(range,criteria)
# range表示一系列值的范围
# criteria表示某一个值或者某一个条件

In [2]:
# python利用value_counts()方法
df = pd.DataFrame ([['A1','张通',101,31,'2018-08-08',1],
                   ['A2','李谷',102,45,'2018-08-09',2],
                   ['A3','孙凤',103,23,'2018-08-10',1],
                   ['A4','赵恒',104,36,'2018-08-11',2],
                   ['A5','王娜',105,21,'2018-08-11',3]],
                  columns = ('订单编号','客户姓名','唯一识别码','年龄','成交时间','销售ID'))
df

  订单编号 客户姓名  唯一识别码  年龄        成交时间  销售ID
0   A1   张通    101  31  2018-08-08     1
1   A2   李谷    102  45  2018-08-09     2
2   A3   孙凤    103  23  2018-08-10     1
3   A4   赵恒    104  36  2018-08-11     2
4   A5   王娜    105  21  2018-08-11     3

In [3]:
df['销售ID'].value_counts()

2    2
1    2
3    1
Name: 销售ID, dtype: int64

In [4]:
# 查看不同值出现的占比，只需要给value_counts()方法传入参数normalize=True即可，默认降序排列
df['销售ID'].value_counts(normalize = True)

2    0.4
1    0.4
3    0.2
Name: 销售ID, dtype: float64

In [5]:
# 查看不同值出现的占比，只需要给value_counts()方法传入参数normalize=True即可，默认降序排列
# 通过设置sort = False 可以实现不按计数值降序排列
df['销售ID'].value_counts(normalize = True, sort = False)

1    0.4
2    0.4
3    0.2
Name: 销售ID, dtype: float64