In [1]:
import pandas as pd
import numpy as np

In [2]:
# 7.6 唯一值获取就是把某一系列值删除重复项以后的结果，一般可以将表中某一列认为是一系列值
# python 利用unique()方法实现
# python思路：先把某一列的值复制粘贴出来，然后用删除重复项的方法实现
df = pd.DataFrame ([['A1','张通',101,31,'2018-08-08',1],
                   ['A2','李谷',102,45,'2018-08-09',2],
                   ['A3','孙凤',103,23,'2018-08-10',1],
                   ['A4','赵恒',104,36,'2018-08-11',2],
                   ['A5','王娜',105,21,'2018-08-11',3]],
                  columns = ('订单编号','客户姓名','唯一识别码','年龄','成交时间','销售ID'))
df

  订单编号 客户姓名  唯一识别码  年龄        成交时间  销售ID
0   A1   张通    101  31  2018-08-08     1
1   A2   李谷    102  45  2018-08-09     2
2   A3   孙凤    103  23  2018-08-10     1
3   A4   赵恒    104  36  2018-08-11     2
4   A5   王娜    105  21  2018-08-11     3

In [3]:
# 对df中的销售ID取唯一值，先把销售ID取出来，然后利用unique()方法获取唯一值
df['销售ID'].unique()

array([1, 2, 3])