In [1]:
import pandas as pd
import numpy as np

In [2]:
# 7.7 数值查找就是查找
# excel中的Ctrl + F
# python 查看数据表中是否包含某个值用到的是isin()方法，而且可以同时查找多个值，只需要在括号中指明即可
# 调用isin()方法，如果包含某些个值则返回True,反之，返回False
df = pd.DataFrame ([['A1','张通',101,31,'2018-08-08',1],
                   ['A2','李谷',102,45,'2018-08-09',2],
                   ['A3','孙凤',103,23,'2018-08-10',1],
                   ['A4','赵恒',104,36,'2018-08-11',2],
                   ['A5','王娜',105,21,'2018-08-11',3]],
                  columns = ('订单编号','客户姓名','唯一识别码','年龄','成交时间','销售ID'))
df

  订单编号 客户姓名  唯一识别码  年龄        成交时间  销售ID
0   A1   张通    101  31  2018-08-08     1
1   A2   李谷    102  45  2018-08-09     2
2   A3   孙凤    103  23  2018-08-10     1
3   A4   赵恒    104  36  2018-08-11     2
4   A5   王娜    105  21  2018-08-11     3

In [3]:
# 年龄这一列是否包含31，21这两个值
df['年龄'].isin([31,21])

0     True
1    False
2    False
3    False
4     True
Name: 年龄, dtype: bool

In [4]:
# 也可以针对全表查找是否包含某个值
# 全表中是否包含A2、31这两个值
df.isin(['A2',31])

    订单编号   客户姓名  唯一识别码     年龄   成交时间   销售ID
0  False  False  False   True  False  False
1   True  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False