In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 8.3.1 count非空值计数
# 非空值计数就是计算某一个区域中非空（单元格）数值的个数
# Excel中counta()函数计算某个区域中非空单元格的个数
# Excel中count()函数计算某个区域中含有数字的单元格的个数
# Python中直接在整个数据表上调用count()函数，返回的结果为该数据表中每列的非空值的个数

In [3]:
df = pd.DataFrame ([[1,2,3],[4,5,6]],columns = ('C1','C2','C3'),index = ('S1','S2'))
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [4]:
# 利用count()方法求取每一列的非空数值的个数
df.count()

C1    2
C2    2
C3    2
dtype: int64

In [5]:
# 利用count()方法求取每一列的非空数值的个数
# 通过修改axis参数让其等于1，来求取每一行的非空数值的个数
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [6]:
# 求取每一行的非空数值的个数
df.count(axis = 1)

S1    3
S2    3
dtype: int64

In [12]:
# 把某一列（或某一行）索引出来，单独查看这一列（或这一行）的非空值计数
# 备注（本小节没有讲解如何把某一行索引出来)
df['C1'].count()

2

In [15]:
# 8.3.2 sum求和
# 求和就是对某一区域中的所有数值进行加和操作
# Excel 中sum()函数
# =sum(D2:D6) 表述对D2:D6范围的数值进行求和操作
# python中调用sum()函数，返回的是该数据表每一列的求和结果
df=pd.DataFrame([[1,2,3],[4,5,6]],columns =('C1','C2','C3'),index=('S1','S2'))
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [16]:
# sum()函数默认为每一列进行求和
df.sum()

C1    5
C2    7
C3    9
dtype: int64

In [17]:
# 通过修改axis = 1 参数，进行对每一行进行求和
df.sum(axis =1)

S1     6
S2    15
dtype: int64

In [18]:
# 把某一列（或某一行）索引出来，单独对这一列（或这一行）数据进行求和操作
# 备注（本小节没有讲解如何对某一行求和)
df['C1'].sum()

5

In [20]:
# 8.3.3 mean求均值
# 求均值就是对某一区域中的所有值进行求算数平均值运算
# Excel 中average()函数
# =average(D2:D6) 表述对D2:D6范围的数值进行求均值运算
# python中调用mean()函数，返回的是该数据表每一列的求和结果
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [21]:
# 当对整个表直接调用mean()函数，返回的是该表中每一列的均值
df.mean()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

In [22]:
# 通过修改axis = 1 参数，进行对每一行进行求均值
df.mean(axis=1)

S1    2.0
S2    5.0
dtype: float64

In [23]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用mean函数，单独求取这一行或这一列的均值
# 备注（本小节没有讲解如何对某一行求均值)
df['C1'].mean()

2.5

In [24]:
# 8.3.4 max求最大值
# 当对整个表调用max()，则返回该数据表中每一列的最大值
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [25]:
df.max()

C1    4
C2    5
C3    6
dtype: int64

In [26]:
# 通过修改axis = 1 参数，进行对每一行进行求最大值
df.max(axis=1)

S1    3
S2    6
dtype: int64

In [28]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用max函数，单独求取这一行或这一列的最大值
# 备注（本小节没有讲解如何对某一行求最大值）
df['C1'].max()

4

In [29]:
# 8.3.5 min求最大值
# 当对整个表调用max()，则返回该数据表中每一列的最大值
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [30]:
df.min()

C1    1
C2    2
C3    3
dtype: int64

In [31]:
# 通过修改axis = 1 参数，进行对每一行进行求最小值
df.min(axis=1)

S1    1
S2    4
dtype: int64

In [32]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用max函数，单独求取这一行或这一列的最小值
# 备注（本小节没有讲解如何对某一行求最小值）
df['C1'].min()

1

In [35]:
# 8.3.6 median求中位数
# 如果n为奇数，则中位数m=Xn+1/2
# 如果n为偶数，则中位数m=(Xn/2+Xn/2+1)/2
# Python求一组数据的中位数，调用median()函数
# Excel =median(D2:D6)表示D2:D6区域内的中位数
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns =('C1','C2','C3'),index = ('S1','S2','S3'))
df1

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [37]:
# 对整个表调用median()函数，默认求取每一列中位数
df1.median()

C1    4.0
C2    5.0
C3    6.0
dtype: float64

In [39]:
# 通过修改axis = 1 参数，求取每一行中位数
df1.median(axis=1)

S1    2.0
S2    5.0
S3    8.0
dtype: float64

In [40]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用median函数，单独求取这一行或这一列的中位数
# 备注（本小节没有讲解如何对某一行求中位数
df1['C1'].median()

4.0

In [45]:
# 8.3.7 mode求众数
# Python求一组数据的众数，调用mode()函数
# Excel =mode(D2:D6)表示D2:D6之间出现次数最多的值
df2 = pd.DataFrame([[1,1,3],[4,4,6],[1,1,3]],columns = ('C1','C2','C3'),index = ('S1','S2','S3'))
df2

    C1  C2  C3
S1   1   1   3
S2   4   4   6
S3   1   1   3

In [46]:
# 对整个表调用mode()函数，默认求取每一列众数
# 备注（df2 表格跟书中列有不同，书中C1，C2，C3顶着S1靠齐，但两种表格的输出却是一样的，真是吊诡了--||）
df2.mode()

   C1  C2  C3
0   1   1   3

In [47]:
# 通过修改axis = 1 参数，求取每一行众数
df2.mode(axis=1)

    0
S1  1
S2  4
S3  1

In [48]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用mode函数，单独求取这一行或这一列的众数
# 备注（本小节没有讲解如何对某一行求众数
df2['C1'].mode()

0    1
dtype: int64

In [49]:
# 8.3.8 var求方差
# 方差是用来衡量一组数据的离散程度（即数据波动幅度）
# Python求一组数据的方差，调用var()函数
# Excel =var(D2:D6)表示D2:D6区域内的方差
df1

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [52]:
# 对整个表调用var()函数，默认求取每一列方差
df1.var()

C1    9.0
C2    9.0
C3    9.0
dtype: float64

In [53]:
# 通过修改axis = 1 参数，求取每一行方差
df1.var(axis=1)

S1    1.0
S2    1.0
S3    1.0
dtype: float64

In [54]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用var函数，单独求取这一行或这一列的方差
# 备注（本小节没有讲解如何对某一行求方差
df1['C1'].var()

9.0

In [55]:
# 8.3.9 std求标准差
# 方差是用来衡量一组数据的离散程度（即数据波动幅度）
# 标准差是方差的平方根，也是用来衡量一组数据的离散程度（即数据波动幅度）
# Python求一组数据的方差，调用std()函数
# Excel =stdevp(D2:D6)表示D2:D6区域内的标准差
df1

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [56]:
# 对整个表调用std()函数，默认求取每一列标准差
df1.std()

C1    3.0
C2    3.0
C3    3.0
dtype: float64

In [57]:
# 通过修改axis = 1 参数，求取每一行标准差
df1.std(axis=1)

S1    1.0
S2    1.0
S3    1.0
dtype: float64

In [58]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用std函数，单独求取这一行或这一列的标准差
# 备注（本小节没有讲解如何对某一行求标准差
df1['C1'].std()

3.0

In [61]:
# 8.3.10 quantile求四分位数
# 四分之一分位数、四分之二分位数、四分之三分位数，其中四分之二分位数即中位数
# Excel percentile()函数
# percentile(D2:D6，0.5)表示求D2:D6区域内的二分之一分位数
# percentile(D2:D6，0.25)表示求D2:D6区域内的四分之一分位数
# percentile(D2:D6，0.75)表示求D2:D6区域内的四分之三分位数
# Python 中利用quantile(),在括号中指明要求取的分位数值，其他规则都相同
df3=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]],
                 columns=('C1','C2','C3'),
                 index=('S1','S2','S3','S4','S5'))
df3

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9
S4  10  11  12
S5  13  14  15

In [63]:
# 求四分之一分位数
df3.quantile(0.25)

C1    4.0
C2    5.0
C3    6.0
Name: 0.25, dtype: float64

In [64]:
# 求四分之三分位数
df3.quantile(0.75)

C1    10.0
C2    11.0
C3    12.0
Name: 0.75, dtype: float64

In [65]:
# 求中位数
df3.quantile(0.5)

C1    7.0
C2    8.0
C3    9.0
Name: 0.5, dtype: float64

In [66]:
# 通过修改axis = 1 参数，求取每一行四分之一分位数
df3.quantile(0.25,axis=1)

S1     1.5
S2     4.5
S3     7.5
S4    10.5
S5    13.5
Name: 0.25, dtype: float64

In [67]:
# 通过修改axis = 1 参数，求取每一行四分之三分位数
df3.quantile(0.75,axis=1)

S1     2.5
S2     5.5
S3     8.5
S4    11.5
S5    14.5
Name: 0.75, dtype: float64

In [68]:
# 通过修改axis = 1 参数，求取每一行中位数
df3.quantile(0.5,axis=1)

S1     2.0
S2     5.0
S3     8.0
S4    11.0
S5    14.0
Name: 0.5, dtype: float64

In [69]:
# 把某一列（或某一行）索引出来，然乎在这一列（或这一行）上调用quantile函数，单独求取这一行或这一列的四分之一分位数
# 备注（本小节没有讲解如何对某一行求四分之一分位数
df3['C1'].quantile(0.25)

4.0