In [1]:
import pandas as pd
import numpy as np

In [2]:
# 8.4 相关性常用来衡量两个事物之间的相关程度，比如啤酒与尿布二者的相关性很强
# 用相关系数衡量两者的相关程度
# 比较常用的相关系数是皮尔逊相关系数
# Excel求取相关系数用的书correl()函数
# correl（A1:A10，B1:B10）表示求取A列指标与B列指标的相关系数
# Python 利用corr()函数

In [4]:
df = pd.DataFrame([[1,2],[3,4],[5,6],[7,8],[9,10]],columns = ('col1','col2'))
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8
4     9    10

In [5]:
# 利用corr()函数求取col1列与col2列的相关系数
df['col1'].corr(df['col2'])

0.9999999999999999

In [6]:
# 利用corr()函数求取整个DataFrame表中各字段两两之间的相关性
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]],columns = ('col1','col2','col3'))
df1

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12
4    13    14    15

In [8]:
# 计算字段col1、col2、col3两两之间的相关性
df1.corr()

      col1  col2  col3
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
col3   1.0   1.0   1.0